
body {
    background: url("background.png") no-repeat center center fixed;
}

input[type=text], input[type=password], input[type=date] {   

    padding: 8px 8px;   

    border: 1px solid black; 
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 150px;
    margin-left: 5px;
    box-sizing: border-box;  
    border-radius: 5px 5px;
    display:block;
}  
button {   
    background-color: grey;   
    color: black;   
    padding: 10px;   
    margin: 10px 10px;   
    border: 1px solid;   
    cursor: pointer;
    border-radius: 5px 5px;
    font-weight: bold;
}   
label {
    font-family: Calibri, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 8px;
}

div.btn {
    margin-left: 8px;
}

.container {   
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightgray;  
    padding: 10px;
    background: url("background_transparent.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}   

select {
    margin: 8px;
}

.recaptcha {
    margin: 8px;
}

p {
    text-align: center;
}

h1 {
    color:aliceblue;
    text-align: center;
    font-style: italic;
    font-family: cursive;
}

#userInformation, #ageInformation {
font-style: italic;
font-family: cursive;
color: aliceblue;
font-size: 20px;
}
#error {
font-style: normal;
font-family: cursive;
color: red;
font-weight: bolder;
text-align: left;
}
.top_banner {
    border: 0;
}
/* .city_temp{
    border: 0
}
.city_name{
    border: 0
} */
